/* Nav */
nav img{
    width: 54px;
}
nav ul li .nav-link{ 
    font-family: 'Nunito Sans', sans-serif;
    color: #11999E !important;
}
nav .navbar-brand{
    padding-left: 10px;
}
nav .nav-item .btn{
    background-color: #11999E !important;
    border-color: #11999E !important;
}
nav .container-fluid{
    background-color: transparent !important;
}

/* Main */
main .container {
    position: relative;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    border: 2px solid #cac8c8;
    border-radius: 24px;
    box-shadow: 3px 3px 15px #cac8c8;
}
main .container .kiri{
    border-radius: 24px 0 0 24px;
    background-color: #DCF8F8;
    }
main .container .kiri img{
    width: 476px;
    padding: 20px;
}
main .container .kanan{
    padding-left: 20px;
    padding-top: 20px;
}
main .container .kanan img{
    width: 64px;
}
main .container .kanan ,h1,h2{
    font-weight: bold;
    color: #11999E;
}
main .container .kanan h5{
    color: #11999E;
}

/* Footer */
footer .kiri img{
    width: 75px;
} 
footer .kanan img{
    width: 110px;
}
footer .container-fluid{
    padding-top: 20px;
    background-color: #40514E;
    display: flex;
}
footer .kanan{
    color: aliceblue;
    width: 33%;
}
footer .kiri{
    color: aliceblue;
    width: 33%;
}
footer .tengah{
    color: aliceblue;
    width: 33%;
}
footer .kiri h5{
    padding-top: 10px;
    color: #11999E;
}
footer .kiri .medsos{
    color: aliceblue;
} 
footer .container-fluid{
    padding-bottom: 10px;
}